.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(169, 169, 236);
    color: white;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left img {
    width: 7vh;
    height: 7vh;
    margin-right: 10px;
  }
  
  .right {
    padding-right: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .right p {
    margin: 0;
  }
  
  .title {
    font-size: 2.5vh;
  }