.schema-icon {
    margin-right: 10px;
    height: 20px;
    pointer-events: none;
  }
  
  .schema{
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .schemaName {
    font-size: 14px;
  }

  .dbName {
    font-size: 14px;
  }

  .actionRow {
    display: flex;
  }

  .actionRow >:first-child {
    width: 50%;
  }
  
  .actionButton {
    display: flex;
    gap: 10px
  }

  .textareaClassName {
    height: 28vh;
    border: none;
  }